body{
    margin: 0;
    font-family: "Cabin";
}

.container{
    background-color: honeydew;
}

.title{
    text-align: center;
}

.title h1{
    font-size: 40px;
    padding: 10px;
    margin: 0px;
}

.title p{

}

.csgo-section{
    display: flex;
    flex-direction: column; 
}

.csgo-title{
    margin-top: 0;
    font-size: 30px;
    text-align: center;
}

.csgo-title h1{
    margin-bottom: 0;
}

.csgo-title p{
    font-size: 16px;
    padding: 0px 10px;
}

.spin{
    display: flex;
    justify-content: space-evenly; 
}

button{
    height: 40px;
    width: 100px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Cabin";
    font-size:16px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    cursor: pointer;
    touch-action: manipulation;
}

.csgo-spin{

}

#message{
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.csgo-stats{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.csgo-stats p{

}

.csgo-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.probability{
    font-style: italic;
}

.csgo-items p{

}

#spins{

}

#spending{

}

#milSpec{

}

#restricted{

}

#classified{

}

#covert{

}

#exceedinglyRare{
    
}